html { 
background-color: #ECB365;
margin-right: 1366px;
} 
body {
    min-height: 100vh;
    max-width: 400px;
    background-color: #ECB365; 
    margin: 0 auto;
}

.cuerpo{
  width: 1365.6px;
  height: 629px;
  background-color: #ECB365;
}